name: List Files

on:
  workflow_dispatch:

jobs:
  list-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: List otevreni
        run: |
          cd data/otevreni
          ls > otevreni.txt
      
      - name: Send otevreni
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Send otevreni"
          commit_options: "--no-verify"
          file_pattern: "data/otevreni/otevreni.txt"

      - name: List koncovky
        run: |
          cd data/koncovky
          ls > koncovky.txt
      
      - name: Send koncovky
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Send koncovky"
          commit_options: "--no-verify"
          file_pattern: "data/koncovky/koncovky.txt"
